.home__container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: start; */
  gap: 10px;
  width: 90%;
  padding-bottom: 100px;
}
/* flex flex-col items-center gap-5 */
.link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

/* flex flex-col gap-14 items-center justify-evenly h-[100%] */

.links_menu {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.side_menu {
  background-color: rgb(238, 238, 179);
  height: 100vh;
  width: 100px;
  max-width: 150px;
  transition: width 0.5s ease;
  padding: 10px;
  position: fixed;
  top: 0;
}

.side_menu:hover {
  width: 150px;
  align-items: start;
}

.side_menu:hover .link__name {
  opacity: 1;
  visibility: visible;
}

.link__name {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease;
}

.link__name:hover {
  cursor: pointer;
}

.link__icon {
  font-size: 25px;
}

.info__container {
  /* width: 90%; */
  gap: 100px;
  margin-left: 250px;
  margin-top: 5rem;
}

.me__description {
  line-height: 58px;
  text-align: left;
  font-size: 25px;
}

.pic__container {
  background-color: rgb(238, 238, 179);
  border: 2px solid rgb(95, 95, 85);
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

.section__title {
  /* width: 80%; */
  /* margin-left: 250px;   */
  margin-top: 80px;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutme__img {
  background-color: rgb(238, 238, 179);
}

.projects__area {
  margin-left: 250px;
}

.skills__area {
  margin-left: 250px;
}

.skills__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(238, 238, 179);
  gap: 30px;
  min-width: 250px;
  min-height: 270px;
  max-width: 250px;
  max-height: 200px;
  /* padding: 10px; */
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(160, 160, 85);
}

.layer__container {
  background: linear-gradient(cadetblue, rgb(110, 110, 225));
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s ease;
  /* padding: 10px; */
}

.skill__icon {
  font-size: 50px;
}

.skills__box:hover .layer__container {
  transform: translateX(0);
}

@media only screen and (max-width: 768px) {
  .skills__box:hover .layer__container {
    /* transform: translateX(100%); */
  }

  .layer__container {
    display: none;
  }

  .skills__box:active .layer__container {
    /* transform: translateX(100%); */
  }
}

.contact__area {
  margin-top: 100px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  /* background-color: rgb(107, 171, 126); */
  max-width: 40%;
  border-radius: 15px;
  margin-top: 20px;
}

.contact__form input,
textarea {
  border: 1px solid gray;
  /* border-radius: 5px; */
  /* border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.801); */
  outline: none;
  padding: 20px 40px;
  width: 100%;
}

.submit__button {
  background-color: rgb(66, 131, 113);
  padding: 2px 15px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.submit__button:hover {
  background-color: rgb(51, 201, 116);
}

.clean__button {
  background-color: rgb(202, 202, 173);
  padding: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.clean__button:hover {
  background-color: white;
}

/* flex ml-[250px] gap-10 items-top mt-20 */
.aboutme__icon__container {
  display: flex;
  margin-left: 250px;
  gap: 2.5rem;
  align-items: top;
  margin-top: 5rem;
}
/* flex gap-10 justify-evenly mt-20 flex-wrap bg-black skills__list */
.skills__list {
  display: flex;
  gap: 2.5rem;
  justify-content: space-evenly;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.link__icon__contact {
  font-size: 40px;
}

.navbar__mobile {
  border: 1px solid rgb(161, 158, 54);
}

@media only screen and (max-width: 768px) {
  /* .side_menu {
    display: block;
    max-width: 100vw;
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
    pointer-events: none;
    margin-bottom: 100px;
    z-index: 1000;
  } */

  .side_menu {
    display: block;
    max-width: 100vw;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 0;
  }

  .side_menu:hover {
    width: 100%;
  }

  .link__name {
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  .links_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    gap: 15px;
  }

  .link__container {
    display: flex;
  }

  .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    position:relative;
  }

  .aboutme__icon__container {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__container {
    margin-left: 0;
    max-width: 100%;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }

  .projects__area {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills__area {
    margin-left: 0;
    text-align: center;
  }

  .skills__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
  }

  .contact__area {
    margin-left: 0;
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: blueviolet; */
  }

  .contact__form {
    max-width: 80%;
    width: 80%;
    align-items: center;
  }

  .contact__form input,
textarea {
  border: 1px solid gray;
  /* border-radius: 5px; */
  /* border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.801); */
  outline: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  border-color: rgb(177, 176, 176);
}

.submit__button {
  font-size: 15px;
  padding: 2px 10px;
}

.clean__button {
  font-size: 15px;
}

.link__icon__contact {
  font-size: 25px;
}

  .title__and__links__contact {
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .me__description {
    font-size: 15px;
    text-align: left;
    line-height: 38px;
  }

  .skills__box {
   flex-direction: column; 
  }

  .skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 179);
    gap: 30px;
    width: 90%;
    min-height: 150px;
    max-height: 200px;
    padding: 10px;
    /* min-width: 100px; */
    /* min-height: 200px; */
    /* padding: 10px; */
  }

  .skill__icon {
    font-size: 30px;
  }
  
  .skills__list {
    width: 100%;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
  }

  .section__title {
    font-size: 25px;
  }

  .link__icon {
    font-size: 18px;
  }

}


.links__container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 70vh;
  justify-content: space-evenly;
}